body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", arial;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12.5%;
}

.logo {
  color: #E5E7EB;
  max-height: 45px;
  max-width: 500px;
  overflow: hidden;
  font-size: 18px;
  font-style: bold;
}

ul {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  padding: 25px 25px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}
.nav-links li a:hover {
  color: #307baa;
}

.awesome {
  background-color: #1F2937;
  color: white;
  display: flex;
  padding: 50px 12.5%;
  align-items: flex-start;
}
.awesome .awesome-text {
  max-width: 40%;
  padding-right: 10%;
  margin: 0;
}
.awesome .awesome-text h1 {
  line-height: 50px;
  color: #F9FAF8;
  font-size: 48px;
  margin: 0;
}
.awesome .awesome-text p {
  margin: 20px 0 0 0;
  font-size: 18px;
  color: #E5E7EB;
}
.awesome .awesome-text button {
  height: 30px;
  width: 100px;
  margin-top: 20px;
  background-color: #3882F6;
  color: white;
  border-radius: 5px;
  border-style: none;
}
.awesome .awesome-text button:hover {
  cursor: pointer;
  background-color: #193c74;
}
.awesome .awesome-image {
  width: 50%;
  border-radius: 50px;
  text-align: center;
  max-width: 50%;
  max-height: 350px;
  overflow: hidden;
}

.random {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2% 25%;
}
.random .box1 {
  font-size: 24px;
  color: #1F2937;
}
.random .random-boxes {
  display: flex;
  gap: 50px;
  padding-top: 2%;
  overflow: hidden;
}
.random .random-boxes .box2 img, .random .random-boxes .box3 img, .random .random-boxes .box4 img, .random .random-boxes .box5 img {
  border-style: solid;
  border-color: #3882F6;
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  max-width: 250px;
  border-radius: 25px;
}

.quote {
  background-color: #E5E7EB;
  padding: 5% 0 5% 0;
}
.quote #cat-quote {
  text-align: center;
  font-weight: lighter;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}
.quote #quote-writer {
  margin-left: 50%;
  margin-right: 25%;
  font-size: 20px;
}

.call-to-action {
  margin: 5% 12.5%;
  display: flex;
  flex-direction: row;
  background-color: #1F2937;
  border-radius: 10px;
  justify-content: space-between;
}
.call-to-action .sign-up-text {
  color: white;
  padding: 5% 10% 5%;
  margin: 0 15% 0 0;
}
.call-to-action .sign-up-text #big-text {
  font-weight: 700;
  font-size: 25px;
  margin: 0;
}
.call-to-action .sign-up-text #small-text {
  padding: 0;
  margin: 0;
}
.call-to-action .sign-up-button {
  margin: 5% 15% 5% 0;
}
.call-to-action .sign-up-button button {
  height: 45px;
  width: 170px;
  font-size: 25px;
  background-color: #3882F6;
  color: white;
  border-color: transparent;
  border-radius: 10px;
  border-style: solid;
  border-width: 2.5px;
}
.call-to-action .sign-up-button button:hover {
  cursor: pointer;
  background-color: #193c74;
}

.footer {
  text-align: center;
  color: white;
  background-color: #1F2937;
  font-size: 15px;
  padding: 1%;
}/*# sourceMappingURL=landing.css.map */